.body {
    display: flex;
    width:1200px;
}
.wrapper {
    flex-direction: column;
    display: flex;
    /* width: 90%; */
    /* height: 900px; */
    border: 1px solid black;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
}
.games{
    display: flex;
}
.games > div {
    margin: 10px;
}
.cart > img {
    width: 25px;
}
section {
    width: 90%;
}
.gameList {
    display: flex;
}
.divoza {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}